

*/**/obj
*/**/bin
*/**/Upload
*/**/bin/Debug
*/**/bin/Release
*/**/obj/Debug
*/**/obj/Release

/.idea/*/**
/.vs/*/**
/.vscode/*/**
/artifacts
/Output
/Output/*/**
/Publish
/Publish/*/**
/TestResults
/TestResults/*/**

